<section class="p-recipes">
  <header class="p-recipes__header">
    <h1 class="p-recipes__title"><%= pluralize(@recipes.length, 'Recipe') %></h1>
    <%= link_to "new recipe", new_recipe_path, class: "c-btn" %>
  </header>

  <p style="color: green"><%= notice %></p>

  <div class="c-recipes-grid" id="recipes">
    <% @recipes.each do |recipe| %>
      <%= render recipe %>
    <% end %>
  </div>
</section>
