<section class="p-new-recipes">
  <header class="p-new-recipes__header c-card">
    <h1 class="c-section-title">New recipe</h1>
    <%= link_to "Back to recipes", recipes_path %>
  </header>
 
  <div class="p-new-recipes__content">
    <%= render "form", recipe: @recipe %>
  </div>
</section>

