:root {
  // Color Pallete
  --color-primary-300: #67ac5a;
  --color-primary-400: #579d61;
  --color-primary-700: #424f2a;
  --color-secondary-100: #fddfad;
  --color-secondary-300: #fec978;
  --color-secondary-600: #c29b44;
  --color-grey-50: #f9faf9;
  --color-grey-500: #acada9;
  --color-grey-950: #050505;
  --color-brown-500: #b2551f;
  --color-black: #000;
  --color-white: #fff;

  // Other color variables
  --color-primary: var(--color-primary-400);
  --color-text-primary: var(--color-grey-950);

  // Shadows
  --card-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.2);

  // Header
  --header-height: 7rem;

  // Recipe item
  --recipe-item-width-desktop: 17.6rem;

  // Main Container
  --main-container-max-width: 160rem;
}
